.trust-page {
  position: relative;
  padding: 100px 264px;

  .trust-page__container {
    text-align: center;

    .trust-page__container__content {
      line-height: 2;
    }

    .trust-page__container__carousel {
      align-items: center;


      .carousel {
        padding: 26px, 0;
        width: 1440px;

        .carousel__img {
          height: auto;
          width: 122px;
          transform: scale(1);
          transition: transform .5s ease-in;

          &:hover {
            transform: scale(1.2);
            transition: transform .5s ease-in;
          }
        }
      }


    }

    .trust-page__container__subscribe {
      position: absolute;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      padding-top: 100px;

      .subscribe__input {
        width: 658px;
        padding: 20px 15px;
        border-radius: 30px;
        border: 1px solid #ebebeb;
        z-index: $z-index-button;
        position: relative;

        &:focus-visible {
          border: 1px solid #6730e3;
        }
      }

      .subscribe__btn {
        position: absolute;
        right: 14px;
        width: 200px;
        height: 46px;
      }
    }


  }
}



@media (max-width: 767px) {
  .trust-page {
    padding: 0;

  }
}

@media (max-with: 1365px) {
  .trust-page {
    padding: 0 80px;

    .carousel {
      width: 700px;
    }
  }
}