.promo {
    width: 100%;
    height: auto;

    .promo__container {
        padding: 48px 0;
        margin: 0px 265px;
        height: 90%;
        position: relative;
        line-height: 30px;
        flex-direction: column;

        .promo__title {

            h1,
            h2 {
                text-align: center;
            }

            h2 {
                width: 747px;
                height: 69px;
            }
        }


        .promo__content {
            justify-content: space-between;

            .content__bg {
                width: 365px;
                height: 255px;
                padding: 5px 40px;
                margin: 10px;
                box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
                border-radius: 24px;
                text-align: center;
                cursor: pointer;
                transition: all .2s ease-out;

                .bg-icon {
                    font-size: 35px;
                    background-image: $bg-promo;
                    background-size: 150px;
                    padding: 35px;
                    background-repeat: no-repeat;
                    background-position: 50% 20%;

                    .promo-icon {
                        font-size: 35px;
                        color: white;
                    }
                }

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 16px 48px rgba(31, 45, 61, .125) !important;
                }
            }
        }


    }
}