@import '../Variables';

.promo {
    width: 100%;
    height: auto;

    .promo__container {
        padding: 48px 0;
        margin: 0px 265px;
        height: 90%;
        position: relative;
        z-index: 1;
        line-height: 30px;
        flex-direction: column;

        h1,
        h2 {
            text-align: center;
        }

        h2 {
            width: 747px;
            height: 69px;
            color: #707070;
        }

        .promo__content {
            .content__bg {
                width: 317px;
                height: 205px;
                padding: 45px;
                margin: 10px;
                box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
                border-radius: 1.5rem;
            }


        }
    }

}