//core scss
@import 'variables';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-sm;
  font-size: $font-size-sm;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

a {
  text-decoration: none;
}

.bg-color {
  background-image: $navbar-bg-color !important;
}

input,
form {
  :focus-visible {
    outline-offset: none;
    outline: none;
  }
}


.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-font {
  font-weight: 700;
  font-size: 11px;
}

h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 16px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.text-gray {
  color: #707070;
}

p {
  font-size: 16px;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 6px 12px 0 rgb(67 37 204 / 20%);
  background: #6730e3;
  border: 2px solid #6730e3;
  border-radius: 32px;
  position: relative;
  z-index: $z-index-button;
  transition: color .16s ease-in-out, background-color .16s ease-in-out, border-color .16s ease-in-out, box-shadow .16s ease-in-out;


  &:hover {
    background: transparent;
    color: #202877;
    box-shadow: none;
    border: 2px solid #6730e3;
  }
}

.container {
  padding: 48px 0;
  margin: 0px 264px;
  height: 90%;
  justify-content: space-between;
  position: relative;
  z-index: $z-index-default;
  line-height: 32px;
}


// custom promo icon 
.about-icon {
  content: "";
  position: relative;
  z-index: $z-index-bg-img;
  height: 64px;
  width: 64px;
  color: #9629e6;
  text-align: center;
  box-shadow: 0 4px 16px 0 rgb(52 27 159 / 10%);
  border-radius: 4px;
  background: #fff;

  img {
    width: 32px;
    height: auto;
    padding: 16px;
  }
}

@import 'header';
@import 'homePage';
@import 'promoPage';
@import 'aboutPage';
@import 'sharePage';
@import 'downloadPage';
@import 'packagesPage';
@import 'feedbackPage';