// animation of submenu
.dropdown-element {
    visibility: hidden;
    transition-delay: 0.1s;
}

.navbar {
    position: sticky;
    z-index: $z-index-header;
    top: 0;
    width: 100vw;

    .navbar__container {
        background: transparent;
        justify-content: center;
        height: $navbar-height;
        transition: all 0.4s ease-in-out;
        width: 100%;

        @include media-breakpoint-down(lg) {
            background: $navbar-bg-secondary;
            transition: all 0.4 ease-in-out;
        }

        .container__wrapper {
            display: flex;
            justify-content: space-between;
            width: 72%;

            @include media-breakpoint-down(xxl) {
                width: 95%;
            }

            .navbar .logo {
                width: 120px;
                object-fit: contain;
            }

            //menu-items
            .navbar__menu-items {
                display: flex;

                @include media-breakpoint-down(lg) {
                    display: none;
                }

                .menu-items__item {
                    padding: 0 8px;
                    margin-left: 20px;
                    position: relative;

                    .title {
                        color: #ffffff;
                        background-color: transparent;
                        display: block;
                        opacity: 0.8;
                        transition: 0.8s;

                        .item__new {
                            position: absolute;
                            top: -20px;
                            right: -18px;
                            background-color: #dc3545;
                            width: 48px;
                            height: 19px;
                            color: white;
                            border-radius: 800px;
                            text-align: center;
                            line-height: 19px;
                        }

                        .item__arrow {
                            position: absolute;
                            top: -4px;
                            color: white;
                            object-fit: contain;
                            width: 18px;
                        }

                        &:focus {
                            color: black;

                            .item__arrow {
                                color: black;
                            }
                        }

                        &:hover {
                            opacity: 1;

                            .item__arrow,
                            .item__new {
                                opacity: 1;
                            }
                        }
                    }

                    .item__submenu-group {
                        display: none;
                        position: absolute;
                        left: -84px;
                        top: 16px;

                        .item__submenu-arrow {
                            pointer-events: none;
                            border: 12px solid transparent;
                            border-bottom: 12px solid #fff;
                            position: relative;
                            width: 1px;
                            height: auto;
                            top: px;
                            left: 107px;
                        }

                        .item__submenu {
                            width: 248px;
                            padding-top: -100px;
                            background-color: #fff;
                            border: 1px solid #fff;
                            border-radius: 4px;
                            box-shadow: 0 2px 8px rgb(0 0 0/ 12%);

                            .sub-title {
                                color: #363232;
                                opacity: 0.8 !important;
                            }

                            .submenu__submenu-item {
                                padding: 8px 16px;

                                .submenu-item__new {
                                    position: absolute;
                                    top: 36px;
                                    right: 80px;
                                    background-color: #ffc107;
                                    line-height: 18px;
                                    width: 40px;
                                    height: 20px;
                                    color: black;
                                    border-radius: 8px;
                                    text-align: center;
                                    opacity: 0.8;
                                }

                                &:hover {
                                    background: #ebebeb;

                                    .sub-title {
                                        color: black;
                                    }

                                    .submenu-item__new {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        .item__submenu-group {
                            display: block;

                            .item__submenu-arrow,
                            .item__submenu {
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            .navbar__toggle {
                display: none;
                border: 0.1px solid rgba(0, 0, 0, 0.1);
                width: 44px;
                height: 32px;
                border-radius: 4px;
                background-color: transparent;

                @include media-breakpoint-down(lg) {
                    display: flex;
                }

                .toggle__icon {
                    color: #e6d5f7;
                }
            }
        }
    }

    .navbar-collapse-hide {
        display: none;
    }

    .navbar-collapse {
        display: flex;
        position: absolute;
        width: 100%;
        background: $navbar-bg-secondary;
        z-index: $z-index-header;

        @media (min-width: 922px) {
            display: none;
        }

        ul {
            padding: 0 20px;
            font-size: 17px;
            width: 100%;
            line-height: 40px;

            li {
                a {
                    color: #ffffff;
                    background-color: transparent;
                    display: flex;
                    position: relative;
                    opacity: 0.8;
                    transition: 0.8s;

                    .navbar-collapse__items-arrow {
                        position: inherit;
                        top: -2px;
                    }

                    span {
                        position: inherit;
                        background-color: #dc3545;
                        width: 48px;
                        height: 16px;
                        color: white;
                        border-radius: 800px;
                        text-align: center;
                        padding-top: 4px;
                        line-height: 10px;
                    }
                }

                .item__submenu-arrow {
                    display: none;
                    position: relative;
                    width: 1px;
                    height: 1px;
                    pointer-events: none;
                    border: 12px solid transparent;
                    border-bottom: 12px solid #fff;
                    top: -16px;
                    left: 19px;
                }

                .item__submenu {
                    display: none;
                    width: 248px;
                    background-color: #fff;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    position: relative;
                    box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
                    top: -16px;
                    left: 4px;

                    .sub-title {
                        color: #363232;
                        opacity: 0.8 !important;
                    }

                    .submenu__submenu-item {
                        padding: 8px 16px;

                        .submenu-item__new {
                            position: absolute;
                            top: 36px;
                            right: 80px;
                            background-color: #ffc107;
                            line-height: 18px;
                            width: 40px;
                            height: 20px;
                            color: black;
                            border-radius: 8px;
                            text-align: center;
                            opacity: 0.8;
                        }

                        &:hover {
                            background: #ebebeb;

                            .sub-title {
                                color: black;
                            }

                            .submenu-item__new {
                                opacity: 1;
                            }
                        }
                    }
                }

                &:hover {

                    .item__submenu-arrow,
                    .item__submenu {
                        display: block;
                        visibility: visible;
                    }
                }
            }
        }
    }
}