@media (max-width: 992px) {
    .navbar {
        background: #202877 !important;
        transition: all .3s ease-in-out;
    }

    .navbar__toggler {
        display: flex !important;
    }

    .navbar__menu-items {
        display: none !important;
    }
}

// animation of submenu
.dropdown-element {
    visibility: hidden;
    transition-delay: 0.1s;
}


.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-around !important;
    height: $navbar-height;
    background: transparent;
    z-index: $z-index-header;
    transition: all 0.3s ease-in-out;

    .logo {
        width: 120px;
        object-fit: contain;
    }


    //menu-items
    .navbar__menu-items {
        display: flex;

        .menu-items__item {
            padding: 0 8px;
            font-weight: $font-weight-sm;
            font-size: $font-size-sm;
            margin-left: 20px;
            position: relative;


            .title {
                color: #ffffff;
                background-color: transparent;
                display: block;
                text-decoration: none;
                opacity: 0.8;
                transition: 0.8s;

                .item__new {
                    position: absolute;
                    top: -18px;
                    right: -21px;
                    background-color: #dc3545;
                    width: 46px;
                    height: 16px;
                    color: white;
                    border-radius: 800px;
                    text-align: center;
                    padding-top: 2px;

                }

                .item__arrow {
                    position: absolute;
                    top: -3px;
                    color: white;
                    object-fit: contain;
                    width: 18px;
                }

                &:focus {
                    color: black;

                    .item__arrow {
                        color: black;
                    }
                }

                &:hover {
                    opacity: 1;

                    .item__arrow,
                    .item__new {
                        opacity: 1;
                    }

                }

            }

            .item__submenu-arrow {
                position: absolute;
                pointer-events: none;
                border: 12px solid transparent;
                border-bottom: 12px solid #fff;
                top: 11px;
                left: 33px;

            }

            .item__submenu {
                width: 250px;
                padding-top: -100px;
                background-color: #fff;
                border: 1px solid #fff;
                border-radius: 4px;
                position: absolute;
                box-shadow: 0 2px 8px rgb(0 0 0/ 12%);
                top: 35px;
                left: -78px;


                .sub-title {
                    color: #363232;
                    opacity: 0.8 !important;


                }

                .submenu__submenu-item {
                    padding: 7px 15px;


                    .submenu-item__new {
                        position: absolute;
                        top: 36px;
                        right: 80px;
                        background-color: #ffc107;
                        line-height: 19px;
                        width: 39px;
                        height: 19px;
                        color: black;
                        border-radius: 6px;
                        text-align: center;
                        opacity: 0.8;

                    }

                    &:hover {
                        background: #ebebeb;

                        .sub-title {
                            color: black;
                        }

                        .submenu-item__new {
                            opacity: 1;
                        }
                    }



                }


            }



            &:hover {

                .item__submenu-arrow,
                .item__submenu {
                    visibility: visible;
                }
            }

        }
    }

    .navbar__toggler {
        display: none;
        border: 0.1px solid rgba(0, 0, 0, 0.1);
        width: 45px;
        height: 35px;
        border-radius: 5px;
        background-color: transparent;

        .toggler__icon {
            color: #e6d5f7;
        }
    }

}