// set variables
@import '../Variables';

// .navbar-transparent {
//     background-color: transparent !important;
// }

// .navbar-color {
//     background-color: $navbar-bg-color;
// }
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-around !important;
    height: $navbar-height;
    background-image: $navbar-bg-color;
    z-index: $z-index-header;

    .logo {
        width: 120px;
        object-fit: contain;
    }


    //menu-items
    .navbar__menu-items {
        display: flex;

        .menu-items__item {
            padding: 0 8px;
            font-weight: $font-weight;
            font-size: $font-size;
            margin-left: 20px;
            position: relative;

            a {
                color: #ffffff;
                background-color: transparent;
                display: block;
                text-decoration: none;
                opacity: 0.8;

                .item__arrow {
                    position: absolute;
                    top: -3px;
                    color: white;
                    object-fit: contain;
                    width: 18px;
                    opacity: 0.8;
                }


                &:focus {
                    color: black;

                    .item__arrow {
                        color: black;
                    }
                }

            }






            .item__submenu-arrow {
                position: absolute;
                pointer-events: none;
                border: 12px solid transparent;
                border-bottom: 12px solid #fff;
                top: 11px;
                visibility: hidden;
                transition: 0.08s;
            }

            .item__submenu {
                width: 250px;
                background-color: #fff;
                border: 1px solid #fff;
                border-radius: 4px;
                position: absolute;
                box-shadow: 0 2px 8px rgb(0 0 0/ 12%);
                visibility: hidden;
                transition: 0.08s;
                top: 35px;

                a {
                    color: #363232;
                    opacity: 0.8 !important;

                    &:hover {
                        opacity: 1 !important;

                    }
                }

                .submenu__submenu-item {
                    padding: 7px 15px;

                    .submenu-item__new {
                        position: absolute;
                        top: 36px;
                        right: 83px;
                        background-color: #ffc107;
                        line-height: 19px;
                        width: 39px;
                        height: 19px;
                        color: black;
                        border-radius: 6px;
                        text-align: center;
                        opacity: 0.8;

                    }

                    &:hover {
                        opacity: 1;
                        background: #ebebeb;
                    }


                }


            }

            .item__new {
                position: absolute;
                top: -16px;
                right: -6px;
                background-color: #dc3545;
                width: 46px;
                height: 16px;
                color: white;
                border-radius: 800px;
                text-align: center;
                padding-top: 2px;
                opacity: 0.8;
            }

            &:hover {

                a,
                .item__arrow,
                .item__new {
                    opacity: 1;
                }

                .item__submenu,
                .submenu__submenu-item,
                .item__submenu-arrow {
                    visibility: visible;
                }
            }

        }
    }

}