.feedback-page {
    position: relative;
    width: 100%;
    height: auto;
    z-index: $z-index-default;

    .feedback-page__container {
        width: 72%;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down (xxl) {
            width: 95%;
        }

        h2 {
            line-height: 30px;
            font-size: 20px;
            font-weight: 300;
        }

        .icon-clients {
            display: flex;
            flex-direction: row;

            img {
                margin: 5px 20px 0 0;
                width: 84px;
                height: auto;
                transition: all 0.3s ease-in;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .feedback-page__container__left {
            cursor: pointer;
            margin-bottom: 50px;

            .feedback-page__container__left__carousel {

                .rec-arrow-left,
                .rec-arrow-right {
                    position: relative;
                    z-index: 1;
                    top: 114px;
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                    line-height: 1px;
                }

                .rec-arrow-left {
                    left: 66px;
                }

                .rec-arrow-right {
                    right: 492px;
                }

                .card-avatar {
                    width: 60px;
                    height: 60px;
                }

                h1 {
                    line-height: 10px;
                }

                h2 {
                    font-size: 15px;
                    line-height: 10px;
                }
            }




        }


        .card-content {
            padding-top: 0px;
            border: none;
            height: 150px;

            p {
                img {
                    width: 30px;
                    height: auto;
                    margin-right: 8px;

                }
            }
        }
    }
}


.overview {
    background: $bg-hero-1;
    position: relative;
    width: 100%;
    display: block;
    z-index: $z-index-default;

    &:before {
        position: absolute;
        content: '';
        background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .overview__container {
        height: 340px;
        display: flex;
        justify-content: center;


        //button-play
        .left__play-video {
            margin-top: 40px;
            flex-direction: column;

            .play-btn {
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 50%;
                z-index: $z-index-button;
                border: 2px solid #ffffff;
                cursor: pointer;
                background: #ffffff;
                animation: ripple-white 1s linear infinite;
                transition: .5s;

                .icon {
                    color: #0d6efd;
                    font-size: 40px;
                }

            }

            .play-video__title {
                color: #fff;
            }
        }


    }



}