.package {
    width: 100%;
    height: auto;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        z-index: $z-index-bg-img;
        width: 50%;
        height: 100%;
        top: 0;
        left: 50%;
        background: $bg-packages-page;
        background-repeat: no-repeat;
    }

    .package__container {
        padding: 48px 0;
        margin: 0px 265px;
        height: 90%;
        position: relative;
        line-height: 30px;
        flex-direction: column;

        p {
            margin: 48px 0;

            span {
                a {
                    color: #9629e6;

                    &:hover {
                        color: #0d6efd;
                    }

                }
            }
        }

        .package__title {
            flex-direction: column;

            h1,
            h2 {
                text-align: center;
            }

            h2 {
                width: 747px;
                height: 69px;
            }
        }

        .package__content {
            line-height: 12px;

            .content__bg {
                padding: 54px 112px;
                margin: 10px;
                box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
                border-radius: 24px;
                text-align: center;
                transition: all 0.2s ease-out;
                border-top: 4px solid transparent;


                &:hover {
                    border-top: 4px solid #9629e6;
                }

                p {
                    color: #8492a6;
                }


                .bg__price {
                    font-weight: 600;
                    font-size: 40px;
                    color: #9629e6;
                }


                img {
                    width: 65px;
                    height: 65px;
                }

                button {
                    padding: 10px 25px;
                    background-color: transparent;
                    color: #6730e3;

                    &:hover {
                        color: white;
                        background-color: #6730e3;
                    }
                }
            }
        }

        .container__package-card {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;


            .container__card {
                width: 672px;
                margin-bottom: 20px;
                border: 1px solid #ebebeb;
                border-radius: 5px;
                height: fit-content;


                .card__extend {
                    box-shadow: none;

                    .card__header-content {
                        height: 40px;


                        .card__icon {
                            color: #6730e3;
                        }
                    }

                    .card__content {
                        border-top: 1px solid #ebebeb;
                    }
                }

            }
        }
    }
}