.screenshots-page {
    width: 100%;
    margin-top: 100px;

    .screenshots-page__container {
        flex-direction: column;
        margin: 0px 265px;
        position: relative;

        h2 {
            padding: 0 242px;
            text-align-last: center;
            line-height: 40px;

        }


        .screenshots-page__container__slider {
            position: relative;
            display: flex;
            flex-direction: row;


            .slider__frame {
                background-image: $bg-mobile-frame;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                display: flex;
                width: 350px;
                height: 610px;
                position: absolute;
                left: 37%;
                top: 20px;
                z-index: 2;
                border-radius: 40px;
            }

            .slider__items {
                display: flex;
                justify-content: center;
                align-items: center;


                .sc-ifAKCX {
                    width: 1167px;

                    img {
                        position: relative;
                        transform: scale(0.8);
                        transition: 0.3s;
                        border: 1px solid #ebebeb;
                        border-radius: 30px;
                        z-index: 1;
                        top: -38px;
                        left: 20px;
                    }
                }




            }


        }
    }


}