.team-page {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
    background: #f4f7fa;
    z-index: $z-index-default;


    .team-page__container {
        margin: 0px 264px;
        flex-direction: column;

        h2 {
            padding: 0 242px;
            text-align-last: center;
            line-height: 40px;

        }

        .container__img-member {
            justify-content: space-between;
            width: 100%;
            position: relative;


            img {
                margin: 50px 0;
                display: block;
                height: 308px;
                width: 308px;
                overflow: hidden;
                border-radius: 50%;
            }

            .member-detail {
                margin: 50px 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 308px;
                width: 308px;
                border-radius: 50%;
                background-image: linear-gradient(to right, rgba(32, 40, 119, 0.85), rgba(55, 46, 149, 0.9), rgba(83, 49, 177, 0.85), rgba(114, 48, 205, 0.8), rgba(150, 41, 230, 0.8));
                opacity: 0.3;
                visibility: visible;
                transition: opacity 0.3s, visibility 0.3s;
            }


        }

    }
}